[submodule "external/ngtcp2"]
	path = external/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
[submodule "tests/Catch2"]
	path = tests/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/oxen-logging"]
	path = external/oxen-logging
	url = https://github.com/oxen-io/oxen-logging.git
[submodule "tests/CLI11"]
	path = tests/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "external/oxen-encoding"]
	path = external/oxen-encoding
	url = https://github.com/session-foundation/oxen-encoding.git
