[submodule "external/libuv"]
	path = external/libuv
	url = https://github.com/libuv/libuv.git
[submodule "external/ngtcp2"]
	path = external/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
[submodule "tests/Catch2"]
	path = tests/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "external/oxen-logging"]
	path = external/oxen-logging
	url = git@github.com:oxen-io/oxen-logging.git
[submodule "external/uvw"]
	path = external/uvw
	url = git@github.com:skypjack/uvw.git
