set(@NAME@_FOUND ON CACHE BOOL "")
set(@NAME@_INCLUDE_DIR @INCLUDE_DIR@ CACHE PATH "")
set(@NAME@_LIBRARY @LIBRARY@ CACHE FILEPATH "")
set(@NAME@_LIBRARIES @LIBRARIES@ CACHE FILEPATH "")
set(@NAME@_VERSION "@VERSION@" CACHE STRING "")
